.navbar {
    background-color: $primary;

    .nav-link-item {
        .nav-link {
            color: $white;

            &:hover {
                color: $text-hover-color;
            } 
            
            &.active {
                color: $text-hover-color;
            }
        }
    }
}