$primary: rgb(41, 56, 92);
$secondary: rgb(234, 238, 239);


$primary-color: rgb(41, 56, 92);
$secondary-color: rgb(48, 182, 115);

$secondary-background-color: rgb(227, 227, 227);

$text-hover-color: rgb(255,85,95);

$red: rgb(255, 85, 95);