.home {
    .banner {
        &-heading {
            color: $white;
            font-weight: 800;

            &::after {
                content: "";
                display: block;
                width: 87%;
                padding-top: 2rem;
                border-bottom: 5px solid $white; 
            }
        }

        &-image {
            height: 50vh;
        }
    }
}